<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.fileviewer" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>OSFileViewer</name>
  <description>OutSystems Cordova Plugin to provide the functionality of a file viewer to mobile applications.</description>
  <author>OutSystems Inc</author>
  <js-module name="OSFileViewer" src="www/OSFileViewer.js">
    <clobbers target="cordova.plugins.OSFileViewer"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSFileViewer">
        <param name="android-package" value="com.outsystems.plugins.fileviewer.OSFileViewer"/>
      </feature>
    </config-file>
    <config-file parent="application" target="AndroidManifest.xml">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.opener.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="src/android/xml/file_viewer_paths"/>
        </provider>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/com/outsystems/plugins/fileviewer/OSFileViewer.java" target-dir="src/com/outsystems/plugins/fileviewer"/>
    <source-file src="src/android/xml/file_viewer_paths.xml" target-dir="res/xml"/>
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="OSFileViewer">
        <param name="ios-package" value="OSFileViewer"/>
      </feature>
    </config-file>
    <source-file src="src/ios/OSFileViewer.m"/>
    <header-file src="src/ios/OSFileViewer.h"/>
  </platform>
</plugin>